* {
    margin: 0px;
}

.side {
    height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

.side .title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 80px;
    margin: 0px 15vw;
    width: 70vw;
}

.side .fancy {
    font-family: "Lobster", cursive;

}


#left-side {
    background-color: rgb(27, 27, 27);
    z-index: 2;
}

#right-side {
    background-color: #c50000;
}

#left-side .title {
    color: aliceblue;
}

#left-side .fancy {
    color: #c50000;
}

#right-side .title {
    color: rgb(27, 27, 27);
}

#right-side .fancy {
    color: aliceblue;
}