:root {
    --background-color: black;
}

body {
    background-color: var(--background-color);
}

p {
    color: white;
    font-size: 8vw;
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
}

.line {
    display: flex;
    justify-content: space-between;
}

#text:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.2;
}

.fancy > .letter{
    display: inline-block;
}